@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sofadi+One&display=swap');

body {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 1.2px;
	color: #81765c;
}

form {
	letter-spacing: 2px;
	word-spacing: 3px;
}


