@media (max-width: 668px) {
	body {
		font-size: 16px;
		line-height: 1.2em;
		letter-spacing: 1.2px;
	}

	.me-image {
		height: 280px;
	}

	.info {
		gap:25px;
	}

	.me-description {
		max-width: 260px;
	}

	.my-hobbies li:nth-child(1) {
		translate: 350% -130%;
	}

}

@media (max-width: 556px) {
body {
	font-size: 14px;
	line-height: 1.2em;
	letter-spacing: 0;
}

	.me-image {
		height: 226px;
	}

	.info {
		gap: 18px;
	}
}

@media (max-width: 460px) {
	body {
		font-size: 26px;
	}
	
	.wrapper {
		margin-block: 5px;
	}

	.header {
		flex-direction: column;
	}

	.me-image {
		height: 100%;
	}

	.info {
		gap: 30px;
	}

	.me-description {
		max-width: 100%;
	}

	.my-socials {
		padding: 10px;
	}

	.my-hobbies li:nth-child(1) {
		translate: -40% 20%;
		transform: rotateX(20deg) rotateY(-40deg);
		scale:1.1;
	}
	.my-hobbies li:nth-child(2) {
		translate: 10% 250%;
		transform: rotateX(30deg) rotateY(40deg);
		scale:1.3;
	}
	.my-hobbies li:nth-child(3) {
		translate: 190% -330%;
		transform: rotateX(0) rotateY(30deg) rotateZ(200deg);
		scale: 1.1;
	}
	.my-hobbies li:nth-child(4) {
		translate: 250% -70%;
		transform: rotateX(30deg) rotateZ(-30deg);
	}

	.form-main {
		flex-direction: column;
		gap: 0;
	}

	#name, #email {
		width: 100%;
		height: 45px;
		padding-inline: 10px;
	}

	.button {
		height: 70px;
	}
}

@media (max-width: 430px) {
	body {
		font-size: 22px;
	}
}

@media (max-width: 390px) {
	body {
		font-size: 18px;
	}

	.header {
		gap: 10px;
	}

	.info {
		gap: 20px;
	}
}

@media (max-width: 340px) {
	body {
		font-size: 16px;
	}
}
