body {
	max-width: fit-content;
	margin-inline: auto;
	border: 2px solid #33381b;
	border-radius: 10px;
	padding: 5px;
	background: linear-gradient(black, rgb(61, 30, 16));
}

h2 {
	margin: 0px 0px 12px
}

img {
	border-radius: 10%;
}

.container {
	padding: 20px;
	border-radius: 14px;
	margin-inline: 10px;
	margin-bottom: 10px
}

.my-socials {
	background-color: rgba(70, 150, 160, 0.1);
}

.my-hobbies {
	background-color: rgba(200, 30, 150, 0.1);
}

hr {
	border: 1px solid #33381b;
}

table {
	border: 2px solid #33381b;
	border-radius: 7px;
}

.my-works {
	background-color: rgba(150, 150, 150, 0.1);
}

.contact-us {
	background-color: rgba(100, 150, 0, 0.1);
}

.button {
	width:170px;
	height: 30px;
	background-color: rgba(231, 235, 30, 0.5);
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.6);
}
