body {
	max-width: fit-content;
	margin-inline: auto;
	border: 2px solid #33381b;
	border-radius: 10px;
	padding: 5px;
	background: linear-gradient(black, rgb(61, 30, 16));
}

img {
	border-radius: 10%;
}

hr {
	border: 1px solid #33381b;
}

table {
	border: 2px solid #33381b;
}

.tbody {
	border: 1px solid black;
}